* {
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4, 9, 30, 0.7)),url(images/kim2.jpg);
    background-position: center ;
    background-size: cover;
    position: relative;
}

/* nav {
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center;
} */
.top_links {
    display: flex;
    padding: 1% 6%;
    justify-content:space-between ;
    align-items: center;
    background-image: linear-gradient(rgba(255,0,0,0.3),rgba(255,0,0,0.3));
}

.left_links{
    flex : 1;
    text-align: left;
}
.left_links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
}
.left_links ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.right_links {
    flex : 1;
    text-align: right;
}
.right_links ul li{
    list-style: none;
    display: inline-block ;
    padding: 8px 12px;
    position: relative;
}
.right_links ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
 

.top_links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background : red;
    display: block;
    margin: auto;
    transition: 0.1s;

}
.top_links ul li :hover::after{
    width: 100%;
} 

.text_box {
    width: 90%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1 {
    font-size: 50px;
}
.text_box p {
    padding: 10px 0px 30px;
}

.hero_but {
    display: inline-block;
    background: transparent;
    border: 1px solid white;
    text-decoration: none;
    color:  white;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.hero_but:hover{
    background: coral;
    border: none;
    transition: 1s;
}

@media(max-width:700px) {
    .text_box h1 {
        font-size: 20px;
    }
    .top_links {
        display: block;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        /* align-content: space-between; */
        
    }
    /* .left_links ul li{
        display: block;
    } */
    /* .right_links{
        position: absolute;
        background: blueviolet;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0; 
        text-align: left;
        z-index: 2;
    } */
    .top_links{
        position: absolute;
        background: blueviolet;
        /* height: 100vh; */
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        line-height: 50px;
    }
    .top_links div ul li{
        display: block;
    }
    .top_links div{
        text-align: left;
    }
    
}
